{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Home - Taskmate</title>
{% endblock title %}

{% comment %} Body contents {% endcomment %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static 'images/handnote.jpg' %}"alt ='Notes' class="rounded shadow-sm" width="360"  heigh="250"> 
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/handnote2.jpg' %}"alt ='Notes' class="rounded shadow-sm" width="360"  heigh="250"> 
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/handnote3.jpg' %}"alt ='Notes' class="rounded -sm" width="360"  heigh="250"> 
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-primary">Quick and easy to use, anytime, anywhere</p></center>
            <center><p class="h2">Plan your day better, get your life organized</p></center>
            <center><p class="h5">Taskmate lets you keep track of your tasks in one place</p></center>
            <center><a href="{% url 'todolist' %}"> <button type="button" class="btn btn-outline-primary btn-lg mt-3 shadow">Let's Get Started</button></a> </center>
        </div>


    </div>
</div>
{% endblock content %}